
body {
	background-color: #403a40;
	padding-top: 3em;
}
.calculator {
	max-width: 450px;
	border-radius: 14px;
	margin: auto;
	background-color: lightgrey;
	padding: 13px;
	/*box-shadow: */
		/*inset -6px -8px 50px -6px rgba(89,86,89,0.75);*/
}

.calculator-display {
	background-color: #bccd95;	
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-family: 'Consolas', monospace;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 40px;
	/*box-shadow: inset 0px -7px 42px -10px rgba(3,0,3,1);*/

}

.calculator-keys {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: auto auto auto auto;
	background-color: lightgrey;
  	padding: 20px;
  	border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;
}
.calculator-keys button  {
	background-color: darkgrey;
  	border: 1px solid rgba(0, 0, 0, 0.8);
  	border-radius: 15px;
  	padding: 20px;
  	font-size: 30px;
  	text-align: center;

}
.key--operator-add {
	grid-row-start: 6; 
	grid-row-end: 4;
	grid-column-start: 4

}
.calculator-display {
	padding: 20px;
  	font-size: 50px;
  	text-align: right;
}
button:focus {
	outline: none; 
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}